*{
	MARGIN:0PX;
	PADDING:0PX;
}
HTML{
	
	HEIGHT:100%;
	BACKGROUND-SIZE:COVER;
	
}
BODY{
	

	MARGIN:0PX AUTO;
	COLOR:WHITE
	}
#HEADER{
	BACKGROUND:linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
    HEIGHT:100PX;
	WIDTH:100%;
	padding-top:50px;
	FONT-FAMILY:ALGERIAN;
	COLOR: #00ffff	;
}
#topnav,#container-fluid{
	BACKGROUND:linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}

#CONTAINER{ 

padding-top:130px;
    HEIGHT:600PX;
	WIDTH:100%;
	FONT-SIZE:30PX;
	FONT-FAMILY:sans-serif;
	COLOR:#FF0099;
       
}
#FOOTER{

HEIGHT:10%;
WIDTH:100%;
padding-top:5px;
	}
